<h1>Creación de empresas:</h1>
<%= render 'shared/form', company: @company %>
<br>
<h1>Listado de empresas:</h1>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="company-tbody">
      <%= render @companies %>
    </tbody>
</table>

  

